<div id="title" class="u-max-full-width">
    <h3 class="title-header">
        <%= link_to image_tag("logo.png", :alt => "Logo", :class => "logo"), lxd_index_path -%>
        <%= link_to "LXWeb", lxd_index_path, :class => "web-title" -%> 
    </h3>
    <span class="subtitle-header">Web Interface for LXD Containers</span>
</div>

